framework: net472, netstandard2.0

source https://api.nuget.org/v3/index.json

nuget FSharp.Core

github xyncro/aether /src/Aether/Aether.fs
github teo-tsirpanis/FSharpx.Collections:patch-1 /src/FSharpx.Collections/RandomAccessList.fsi
github teo-tsirpanis/FSharpx.Collections:patch-1 /src/FSharpx.Collections/RandomAccessList.fs

group Build
  framework: net472
  source https://api.nuget.org/v3/index.json

  nuget FAKE ~> 4
  nuget FSharp.Formatting

  github teo-tsirpanis/FAKE:patch-2 modules/Octokit/Octokit.fsx

group Test

  framework: netcoreapp2.1

  storage: none

  source https://api.nuget.org/v3/index.json

  nuget BenchmarkDotNet
  nuget Expecto
  nuget Expecto.FsCheck
