version 5.257.0

group Formatting

  source https://api.nuget.org/v3/index.json

  nuget FSharp.Formatting.CommandTool

group FakeBuild

  source https://api.nuget.org/v3/index.json

  storage: none
  framework: netstandard2.0

  nuget Fake.Api.GitHub
  nuget Fake.BuildServer.AppVeyor
  nuget Fake.Core.ReleaseNotes
  nuget Fake.Core.Target
  nuget Fake.Core.UserInput
  nuget Fake.IO.FileSystem
  nuget Fake.IO.Zip
  nuget Fake.DotNet.Cli
  nuget Fake.DotNet.FsFormatting
  nuget Fake.Tools.Git

  nuget Scriban
