framework: net45, netstandard2.0

version 5.245.1

source https://api.nuget.org/v3/index.json

storage: none

nuget FSharp.Core
nuget System.Buffers
nuget System.Collections.Immutable
nuget System.Memory
nuget System.ValueTuple framework: net45

group Executables

  framework: net472, netcoreapp3.1

  source https://api.nuget.org/v3/index.json

  storage: none

  nuget Argu
  nuget Chiron
  nuget Farkle.Tools.MSBuild prerelease
  nuget FSharp.Core
  nuget FsLexYacc.Runtime
  nuget Mono.Cecil
  nuget Scriban
  nuget Serilog
  // Version 4.0 directly targets .NET Standard 2.0, reducing dependencies.
  nuget Serilog.Sinks.Console prerelease
  // Scriban requires this version.
  nuget System.Threading.Tasks.Extensions = 4.5.1

group Formatting

  source https://api.nuget.org/v3/index.json

  framework: net45

  nuget FSharp.Formatting.CommandTool

group FakeBuild

  source https://api.nuget.org/v3/index.json

  storage: none
  framework: netstandard2.0

  nuget Fake.Api.GitHub
  nuget Fake.BuildServer.AppVeyor
  nuget Fake.Core.ReleaseNotes
  nuget Fake.Core.Target
  nuget Fake.Core.UserInput
  nuget Fake.IO.FileSystem
  nuget Fake.IO.Zip
  nuget Fake.DotNet.Cli
  nuget Fake.DotNet.FsFormatting
  nuget Fake.DotNet.Paket
  nuget Fake.Tools.Git

  nuget Scriban

group Test

  framework: netcoreapp3.1

  source https://api.nuget.org/v3/index.json

  storage: none

  nuget BenchmarkDotNet
  nuget Expecto
  nuget Expecto.FsCheck
  nuget FSharp.Core
  nuget Newtonsoft.Json
  nuget System.Collections.Immutable
